@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --color-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-light-grayish-blue: hsl(234deg 39% 85% / 33%);
  --color-Bright-Blue: hsl(220, 98%, 61%)
}

:root {
  font-family: "Josefin Sans", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: hsl(235, 21%, 11%);

  transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
  overflow: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 110vh;
}

@media only screen and (max-width: 600px) {
  body {
    min-height: 70vh;

  }
}

.check {
  transition: all 0.07s;
}

.check:active {
  transform: scale(1.4);
  transform-origin: bottom;
}

.sortoptions p:hover,
.sortoptions p:focus {
  color: hsl(220, 98%, 61%);
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.todo {
  animation: 0.9s 1 alternate slide-in;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
  }

  to {
    translate: 0 0;
  }
}